@tailwind base;
@tailwind utilities;
@tailwind components;

/* Splash Page */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out;
}

/* Game Page */
@keyframes pulse-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(15deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.animate-pulse-gradient {
  background-size: 200% 200%;
  animation: pulse-gradient 15s ease-in-out infinite;
}

.animate-float {
  animation: float 20s ease-in-out infinite;
}
